<div class="profile-page">
  <h1>Welcome Eliza</h1>
  <div class=" col-sm-4 well">
    <form>
      <div class="form-group">
        {{input value=tripName placeholder="Name Your Trip" class="form-control"}}
        <br>
        <button type="submit" class="btn btn-default btn-lg" {{action "createTrip"}}>Create Your Trip</button>
      </div>
    </form>
    {{#each trip in model}}
    <ul>
      <li>{{trip.name}}</li>
    </ul>
    {{/each}}
  </div>

  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  </div>



</div>
