<h3>{{name}}</h3>
<button class="btn our-btn" {{action "startList"}}>Group Camping List</button>
{{#if list}}
 <h4>Select Group Gear</h4>
 {{#each 'item' in items}}

 <ul>
   <li>  {{campingList.items}}</li>
 </ul>

 {{/each}}
 
{{/if}}

It has this Camping List:
